
/*main rules and styles for all devises*/
html {
	width: 100%;
	background-color: rgba(43,41,39,0.10);;
}
body {
	max-width: 1340px;
	margin: 0 auto;
}
img {
	width: 90%;
	margin: 0 auto;
	display: block;
	box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}
header {
	overflow: auto;
}
footer {
	border-top: 1px solid black;
	font-size: 0.75rem;
	text-align: center;
	padding: 20px 0;
}
span {
	font-weight: bold;
}
p {
	max-width: 70%;
	margin: 0 auto;
}
footer h1, footer h2 {
	padding: 0 10px;
}
footer h1 {
	float: left;
}
footer h2 {
	float: right;
}
a {
	text-decoration: none;
	color:inherit;
}
/*class rules */
.name {
	text-align: center;
	padding: 3% 0;
}
.main-nav {
	padding-left: 0;
	list-style: none;
	width: 90%;
	margin: auto;
}
.main-nav li {
	text-align: center;
	background-color: white;
	padding: 3% 0;
	margin: 2% 0;
	font-size: 1.5em;
}
.introduction p {
	line-height: 2em;
	padding-top: 20px;
}
.banner, .introduction, .col { 
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.25rem;
}
.container {
	width: 100%;
	background-color: white;
	padding: 40px 0;
}
.container h2 {
	text-align: center;
}
.bottom {
	padding-top: 60px;
}
.bottom-nav {
	display: none;
}
.banner h3, .banner p {
	padding: 20px 0;
}
/*interactive stuff*/
a:visited {
	color:inherit;
}
li:hover { 
	background-color:lightgrey;
}
/*media queries */
@media (min-width: 768px) {
	.name {
		padding: 0;
	}
	a:hover {
	background-color:lightgrey;
	}
	.main-nav {
		text-align: center;
	}
	.bottom-nav li, .main-nav li {
		display: inline-block;
		background-color: inherit;
		margin: 0 auto;
		padding: 0 20px;
	}
	.introduction {
		width: 100%;
		text-align: left;
		overflow: auto;
	}
	.introduction img {
		width:30%;
		float: right;
		margin-left: 20px;
		display: inline-block;
	}
	.introduction p {
		float: left;
		width: 60%;
		display: inline-block;
	}
	.container {
		overflow: auto;
	}
	.col {
		width: 50%;
		display:inline;
		float:left;
	}
	footer h2 {
		display: none;
	}
	.bottom-nav {
		display: inline-block;
		float: right;
		font-size: 1rem;
	}
}

@media (min-width: 1024px) {
	header {
		width: 90%;
		margin: 0 auto;
	}
	.name, .main-nav {
		margin: 2% 0;
	}
	.name {
		text-align: left;
		float: left;
		width: 50%;
	}
	.main-nav {
		text-align: right;
		float: right;
		display: inline-block;
		width:50%;
	}
	.col {
		width: 33.3%;
	}
}