footer {
	@extend %text-centered;
	border-top: 1px solid $top-footer-border;
	font-size: 0.75rem;
	padding : 0 10px;
	h1 {
		float: left;
	}
	h2 {
		float: right;
		@media #{$mobile} {
			display: none;
		}
	}
}