.introduction p {
	line-height: 2em;
	padding-top: 20px;
	@media #{$mobile} { 
		float: left;
		width: 60%;
		@include inline-block;
	}
}
.introduction {
	@media #{$mobile} {
		width: 100%;
		text-align: left;
		overflow: auto;
	}
}
.introduction img {
	@include box-shadow(black 5px 5px 5px);
	@media #{$mobile} {
		width:30%;
		float: right;
		margin-left: 20px;
		@include inline-block
	}
}