* {
	font-family: $google-font, $font-stack;
}
.banner, .introduction, .col, .container { 
	@extend %text-centered;
	@extend %element-centered;
}
.banner, .introduction, .col { 
	width: $banner-and-intro-width;
	padding: 20px 0;
	line-height: $line-height;
	font-size: $banner-font;
}
.container {
	width: $container-width;
	background-color: $body-color;
	padding: 40px 0;
	@include mobile {
		overflow: auto;
	}
}

.bottom {
	padding-top: 60px;
}
.banner h3, .banner p {
	padding: 20px 0;
}