.bottom-nav {
	display: none;
	@media #{$mobile} {
		display: inline-block;
		float: right;
		font-size: 1rem;
	}
}
.bottom-nav li {
	@media #{$mobile} {
		display: inline-block;
		background-color: inherit;
		margin: 0 auto;
		padding: 0 20px;
	}
}