footer {
	@extend %text-centered;
	border-top: 1px solid $top-footer-border;
	font-size: $footer-font-size;
	padding : 0 10px;
	h1 {
		float: left;
	}
	h2 {
		float: right;
		@include mobile {
			display: none;
		}
	}
}