.name, .main-nav li {
	@extend %text-centered;
	@media #{$tablet} {
		margin: 2% 0;
	}
}
.name {
	@include single-text-shadow;
	padding: 3% 0;
	@include mobile {
		padding: 0;
	}
	@include tablet {
		text-align: left;
		float: left;
		width: 50%;
	}
}
.main-nav {
	padding-left: 0;
	list-style: none;
	width: 90%;
	margin: auto;
	
	@include mobile {
		text-align: center;
	}
	@include tablet {
		margin: 2% 0;
		text-align: right;
		float: right;
		@include inline-block;
		width:50%;
	}
}

.main-nav li {
		background-color: $body-color;
		padding: 3% 0;
		margin: 2% 0;
		font-size: $main-nav-font-size;;
		@include mobile {
			@include inline-block;
			background-color: inherit;
			margin: 0 auto;
			padding: 0 20px;
		}
	}